extends layout
block content
  datalist#ingredients-list
    each ingredient in ingredients
      option(value=ingredient)
  div
    input#recipe-id(type="hidden", value=recipe.id)
    div.form-group
      label(for="name") Recipe Name
      input.form-control.form-control-lg#recipe-name(name="title", type="text", value=recipe.title)
    div.form-group
      label(for="description") Recipe Description
      input.form-control#recipe-description(name="description", type="text", value=recipe.description)
    div.form-group.row
      label.col-1.col-form-label(for="recipe-yield-amount") Yield:
      div.col-1
        input.form-control#recipe-yield-amount(name="yieldAmount", type="number", value=recipe.yieldAmount)
      div.col-2
        input.form-control#recipe-yield-unit(name="yieldUnit", type="text", value=recipe.yieldUnit placeholder="servings")
      label.col-2.col-form-label(for="recipe-active-time") Active time (minutes):
      div.col-1
        input.form-control#recipe-active-time(name="activeTimeMinutes", type="number", value=recipe.activeTimeMinutes)
      label.col-2.col-form-label(for="recipe-total-time") Total time (minutes):
      div.col-1
        input.form-control#recipe-total-time(name="totalTimeMinutes", type="number", value=recipe.totalTimeMinutes)
    div.form-group
      label Ingredients
      div#ingredients
        each ingredient, index in recipe.ingredients
          div.form-group
            div.form-row
              div.col-2
                div.input-group
                  div.input-group-prepend
                    div.input-group-text.handle(style="cursor:move") ◆
                  input.form-control.amount(value=ingredient.amount)
              div.col-1
                input.form-control.unit(value=ingredient.unit)
              div.col-4
                input.form-control.id(value=ingredient.id, list="ingredients-list")
              div.col-4
                input.form-control.note(value=ingredient.note, placeholder="Note")
              div.col-1
                button.btn.btn-danger(onclick="removeIngredient(this)") Remove
      div.form-group
        button.btn(onclick="addIngredient()") Add ingredient
    div.form-group
      label Steps
      div#steps
        each step, index in recipe.steps
          div.form-group
            div.form-row
              div.col-11
                div.input-group
                  div.input-group-prepend
                    div.input-group-text.handle(style="cursor:move") ◆
                  textarea.form-control.text(rows=2) #{step.text}
              div.col-1
                button.btn.btn-danger(onClick="removeStep(this)") Remove
      div.form-group
        button.btn(onclick="addStep()") Add step
    div.form-group
      label Notes
      div.form-group
        if (recipe.notes)
          input.form-control#notes(value=recipe.notes[0])
        else
          input.form-control#notes(value="")
    div.form-group
      label Source
      div.form-group
        input.form-control#source(value=recipe.source)


    button.btn.btn-primary(onclick="updateRecipe()") Update Recipe
  script(src="/lib/main.js")